/* custom theme colors */
.titlearea,
.carousel-control,
.breadcrumb .icon,
.nav-justified>li.active a,
.nav-justified>li.active a:hover,
.nav-justified>li.active a:focus{ background:#4CA6FB;}
.nav-justified>li.active:before{ color:#4CA6FB;}

.page-subjects .titlearea,
.page-subjects .carousel-control,
.page-subjects .breadcrumb .icon,
.page-subjects .nav-justified>li.active a,
.page-subjects .nav-justified>li.active a:hover,
.page-subjects .nav-justified>li.active a:focus{ background:#dc3c47;}
.page-subjects .nav-justified>li.active:before{ color:#dc3c47;}
/*--- END custom colors ---*/

/* older method of colors
.titlearea {background: #dc3c47; }
.basebg { background-color: #dc3c47; }
.basecolor { color: #dc3c47; }
ul.ss-full-tabs>li.active>a:after {
  border-color: #dc3c47;
  border-top-color: #dc3c47;
}
i.thumbtype { background-color: rgba(220,60,71, 0.8); }
.breadwrap ol li .icon{ background:#dc3c47;}
.ss-full-tabs.nav-tabs>li.active,
.ss-full-tabs.nav-tabs>li.active:hover{ background:#dc3c47;}
.shanticon-twitter,.shanticon-facebook,.shanticon-email,.shanticon-google{ color:#dc3c47;}
*/


/* Pager settings fix for kmaps
 {
  display: inline;
} */
li.pager-current.widget > form,
li.pager-current.widget > form div,
li.pager-current.widget > form input {
  display: inline;
}

li.pager-current.widget > form input.form-control {
  width: 100px;
}

.pager {
  float: inherit;
  text-align: center;
}



/* Extra fixes for overrides from main sarvaka theme 
.content-section {
  padding: 0;
}

.content-section.equal-height .tab-content {
  padding: 0.72rem 1.8rem 0;
}

*/







/* Photos subsection */

#tab-main .related-photos {
  overflow: auto;
}

#tab-main .each-photo {
  width: 100px;
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}

#photo-pagination{
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

#photo-pagination li{
  display: inline;
  padding: 0 5px;
}

#photo-pagination li input.page-input{
  width: 45px;
  text-align: center;
  height: 22px;
}

li.first-page,
li.last-page,
li.previous-page,
li.next-page {
  font-size: smaller;
}

#tab-main .paginated-spin{
  float: left;
  display: inline-block;
  margin-top: 10px;
  display: none;
}

#tab-main #photo-pagination>li>a{
  color: #DC3C47;
}

#tab-main #photo-pagination>.active>a,
#tab-main #photo-pagination>.active>span,
#tab-main #photo-pagination>.active>a:hover,
#tab-main #photo-pagination>.active>span:hover,
#tab-main #photo-pagination>.active>a:focus,
#tab-main #photo-pagination>.active>span:focus{
  background-color: #DC3C47;
  border-color: #DC3C47;
  color: white;
}

.each-photo a.thumbnail:hover{
  border-color: #DC3C47;
}




