/**
* version 1.x - Mandala KMAPS Places-Subjects Development
* 
* shanti-main-kmaps.css
* -------------------------------------------------------------------
* University of Virginia / SHANTI MANDALA / Audio-Video
* -------------------------------------------------------------------
* 
*/

/**
* PLACES Subtheme Colors 
*/
.page-places .titlearea,
.page-places .carousel-control,
.page-places .breadcrumb .icon,
.page-places .bx-controls-direction a,
.page-places .nav-justified>li.active a,
.page-places .nav-justified>li.active a:hover,
.page-places .nav-justified>li.active a:active {
  background: #4ca6fb !important;
}

.page-places .navbar-brand:hover .site-slogan,
.page-places .nav-justified>li.active::before,
.page-places .view-section ul.fancytree-container .glyphicon,
.page-places .view-section ul.fancytree-container .fancytree-node:hover > .glyphicon,
.page-places .view-section .fancytree-node.fancytree-active > .glyphicon,
.page-places .view-section .fancytree-node.fancytree-selected > .glyphicon,
.page-places .carousel-feature-slides li.active div a::before,
.page-places .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a .check-mark,
.page-places .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a:active .check-mark {
  color: #4ca6fb !important;
}

.page-places .carousel-feature-slides li div a:hover,
.page-places .carousel-feature-slides li div a:active,
.page-places .carousel-feature-slides li.active div a,
.page-places #tab-main .each-photo a.thumbnail:hover,
.page-places #tab-main .each-text a.thumbnail:hover {
  border-color: #479beb !important;
}

.page-places .input-section .toggle-link,
.page-places .input-section .toggle-link:hover,
.page-places .input-section .toggle-link .icon::before,
.page-places .input-section .toggle-link:hover .icon::before,
.page-places .input-section .selectpicker .caret::before,
.page-places .view-section .nav-tabs>li.active>a, 
.page-places .view-section .nav-tabs>li.active>a:hover, 
.page-places .view-section .nav-tabs>li.active>a:active {
  color: #418ed7 !important;
}

.page-places .view-section .nav-tabs>li.active>a, 
.page-places .view-section .nav-tabs>li.active>a:hover, 
.page-places .view-section .nav-tabs>li.active>a:active {
  border-top-color: #418ed7 !important;
}

.page-places .content-resources .nav-pills li.active {
  border-left-color: #418ed7 !important;
}

.page-places ::-moz-selection {
  background: #fb8c4c !important;
}

.page-places ::selection{
  background: #fb8c4c !important;
}


/**
* SUBJECTS Subtheme Colors 
*/
.page-subjects .titlearea,
.page-subjects .carousel-control,
.page-subjects .breadcrumb .icon,
.page-subjects .bx-controls-direction a,
.page-subjects .nav-justified>li.active a,
.page-subjects .nav-justified>li.active a:hover,
.page-subjects .nav-justified>li.active a:active {
  background: #dc3c47 !important;
}

.page-subjects .navbar-brand:hover .site-slogan,
.page-subjects .nav-justified>li.active::before,
.page-subjects .view-section ul.fancytree-container .glyphicon,
.page-subjects .view-section ul.fancytree-container .fancytree-node:hover > .glyphicon,
.page-subjects .view-section .fancytree-node.fancytree-active > .glyphicon,
.page-subjects .view-section .fancytree-node.fancytree-selected > .glyphicon,
.page-subjects .carousel-feature-slides li.active div a::before,
.page-subjects .input-section a.toggle-link,
.page-subjects .input-section a.toggle-link:hover,
.page-subjects .input-section .toggle-link .icon::before,
.page-subjects .input-section .toggle-link:hover .icon::before,
.page-subjects .input-section .selectpicker .caret::before,
.page-subjects .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a .check-mark,
.page-subjects .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a:active .check-mark,
.page-subjects .view-section .nav-tabs>li.active>a, 
.page-subjects .view-section .nav-tabs>li.active>a:hover, 
.page-subjects .view-section .nav-tabs>li.active>a:active {
  color: #dc3c47 !important;
}

.page-subjects .carousel-feature-slides li div a:hover,
.page-subjects .carousel-feature-slides li div a:active,
.page-subjects .carousel-feature-slides li.active div a,
.page-subjects #tab-main .each-photo a.thumbnail:hover,
.page-subjects #tab-main .each-text a.thumbnail:hover {
  border-color: #dc3c47 !important;
}

.page-subjects .content-resources .nav-pills li.active {
  border-left-color: #dc3c47 !important;
}

.page-subjects .view-section .nav-tabs>li.active>a, 
.page-subjects .view-section .nav-tabs>li.active>a:hover, 
.page-subjects .view-section .nav-tabs>li.active>a:active {
  border-top-color: #dc3c47 !important;
}

.page-subjects ::-moz-selection {
  background: #47dc3c!important;
}

.page-subjects ::selection {
  background: #47dc3c !important;
}

.page-places .navbar-brand:active .site-slogan,
.page-subjects .navbar-brand:active .site-slogan {
  color: #444 !important;
}
/* ------------------
* END colors 
*/


/**
* Feedback button
*/
.atlwdg-trigger.atlwdg-SUBTLE {
  position: fixed;
  right: 10rem !important;
  border-right: 1px solid #ccc !important;
  box-shadow: none !important;
}

.back-to-top {
  position: fixed;
  bottom: 4em; /* this seperates button from Kmaps EDIT button */
} 

.page-places .texts-list li {
  line-height: 1.75em;  /* opens up list for tibetan characters */
}

.places-in-places .column > ul > li {
  list-style-type: none;
}



/* this rmeoves the 2nd (Earth) breadcrumb */
.kmaps.page-places .breadcrumb li:nth-of-type(2){ display:none !important;}

.breadcrumb li:last-child{ 
  top: -0.05rem;
  font-size: 1.25em;
}

.carousel-header{
  max-width:100%; 
}

.thumbnail{
  padding:0;
  border-radius:0;
  border:none;
}






/* custom image gallery for kmaps display */
.og-expander{
  margin-left:1.3rem; 
  width: 97.5%;
}

.content-section .panel-group:last-of-type{
  margin-bottom:21rem;
}

.front .content-section.equal-height>.tab-content>article h6:first-of-type{
  text-transform: uppercase !important;
  /* font-size: 90%; */
}

body:not(.front) .content-section.equal-height>.tab-content>article h6{
  text-transform: uppercase !important;
  /* font-size: 90%; */
}




/** ----------------
*** Layouts
* ------------------*/
body:not(.front) .content-section.equal-height .content-section.equal-height { width: 100%; padding-right: 10px;}



/**
* Breakpoints 
*/
@media screen and (min-width: 992px) {

  body:not(.front) .content-section.equal-height>.tab-content:nth-of-type(1){  }
  body:not(.front) .content-section.equal-height  .content-section.equal-height { width: 78%;}
}

@media screen and (min-width: 1100px) {

  body:not(.front) .content-section.equal-height:nth-of-type(2) { width: 80%; }
}

@media screen and (min-width: 1200px) {

  body:not(.front) .content-section.equal-height:nth-of-type(2) { width: 84%; }
}




/*** Video iframe 
.tab-video .main-wrapper,
.tab-video .content-resources .nav-pills li.active a{
  background-color:#e0e0e0 !important;
}

.tab-video .content-section.equal-height{
  padding-right: 0;
  margin-right: 0; 
  padding-left: 0;
  width: 100% !important;
}

body.tab-video{
  background: #e0e0e0 !important;
} 
*/

/*
@media screen and (min-width: 992px) {

  .tab-video .content-section.equal-height{
    padding-right: 0 !important;
    padding-left: 2rem !important;
    width: 78% !important;
  }
}

@media screen and (min-width: 1100px) {

  .tab-video .content-section.equal-height{
    width: 80% !important;
  }
}

@media screen and (min-width: 1200px) {

  .tab-video .content-section.equal-height{
    width: 84% !important;
    padding-right: 1rem;
    padding-left: 0;
  }
}
*/

